@import url('https://fonts.googleapis.com/css?family=Anton|Francois+One|PT+Sans+Caption|Volkhov&display=swap');
*{
    
    margin: 0;    
    padding: 0;    
    box-sizing: border-box;    
    -webkit-box-sizing: border-box;    
    -moz-box-sizing: border-box; 
    font-family: 'Titillium Web', sans-serif;

}
header{
    background: #015761;
}
section.container {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
h1 {
    color: #F7DC4F;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
}
h2{

    color: #F7DC4F;

    font-weight: 400;

    font-size: 40px;
}
h3{

    color: white;

    font-size: 12px;

    font-weight: 400;
}
h4{
    
    font-size: 67px;
    
    font-weight: 700;
    
    color: white;
}
.left-side {
    width: 50%;
    float: left;
    padding-top: 79px;
    padding-left: 156px;
    line-height: 59px;
}
.right-side {width: 50%;float: left;position: relative;display: flex;justify-content: flex-end;align-items: center;}
img {
    max-width: 100%;
    display: block;
}
nav{
}
nav ul{
    
    display: flex;
    
    overflow: hidden;
}
nav ul li{
    list-style-type: none;
    padding: 15px;
    padding-left: 0;
    font-size: 10px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Volkhov', serif;
}

.wrapper h1{

    color: #015761;

    font-size: 40px;

    font-weight: 700;
}
.wrapper p{

    padding: 270px;

    padding-top: 0;

    padding-bottom: 0;

    font-size: 13px;
}
.wrapper h4{
}
.wrapper {
    text-align: center;
    padding-top: 60px;
    background: #F1F0F0;
    padding-bottom: 70px;
}
button {
    border: 0;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    color: black;
    background: #F7DC4F;
    
    margin-top: 14px;
}
.showreel {}
.showreel img{

    width: 1349px;

    overflow: hidden;
}
.showreel h1{
    
font-size: 55px;
    
color: #015761;
    
font-weight: 700;
}
.photos{

    width: 100%;

    display: flex;
}
.photos div{

    padding: 10px;
}

.photos div img{

    max-width: 100%;

    display: block;
}
video{max-width: 100%;border: 3px solid #100700;border-radius: 5px;padding: 3px;margin: 0 auto;width: 1366px;display: block;}
.video-content{

text-align: center;

margin: auto;

width: 1349px;

padding-bottom: 50px;

font-size: 55px;

color: #015761;

font-weight: 700;

padding-top: 50px;
}
.content h1{
    text-align: center;margin: auto;width: 1349px;padding-bottom: 50px;font-size: 55px;color: #015761;font-weight: 700;padding-top: 50px;}

.contact {

}

.container {

}

.image {float: left;width: 50%;}

.info {width: 50%;float: left;background: #015761;color: white;padding-left: 14em;padding-bottom: 82px; padding-top: 5em;height: 538.5px;}

.flex h3 {font-size: 19px;text-transform: capitalize;font-family: 'Francois One', sans-serif;}
.flex h1 {font-size: 50px;text-transform: capitalize;font-weight: 500;font-family: 'Francois One', sans-serif;}

.manager {
padding: 15px
}

.commercial {
    padding: 15px
}

.sf {
    padding: 15px
}
.footer {text-align: center;}
